<article id="accueil">
  <br/><br/><br/>
  <center><h1>Site officiel des <b>13<sup>èmes</sup>Rencontres de la Monnaie Libre Duniter Ğ1</b> (RML Duniter Ğ1)</h1></center>
  <center><h1>Perpignan 23 - 26 Mai 2019</h1></center>
  <center><h2>"RML13 Coeur de Ğ1"</h2></center>
  <center><img src="img/perpignan.jpg" width="800px"></center>
  <p>Ces RML13 sont tout particulièrement dédiées au fondement même des Rencontres de la Monnaie Libre, c'est à dire la rencontre des informaticiens développeurs / testeurs, du coeur de fonctionnement de la Ğ1 : Duniter</p>
  <p>Les rencontres des informaticiens sont donc dédiées aux discussions et présentations concernant les protocoles et le coeur de Duniter afin de progresser dans l'organisation et l'avancement du développement du code de Duniter et de ses variantes en cours de développement telles que DURS (Duniter en RUST) ou Juniter (Duniter en Java)</p>
  <p>Y sont tout spécialement conviés les développeurs du coeur en priorité, mais aussi les développeurs des clients, et tout particulièrement Silkaj (client en ligne de commande) qui sera prioritaire (pour rester aussi proche du coeur que possible), Cesium et Sakia, puisqu'ils utilisent ces protocoles et sont donc aussi en mesure d'en détailler les contenus</p>
  <p><h2>Le programme des RML13 "Coeur de Ğ1"</b></h2>
  <p><b>Adresse (informatique "coeur de Ğ1" seulement) :</b> Cyberbodega, 26 rue de l'avenir 66000 Perpignan</p>
  <p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.882977724075318%2C42.69510655660369%2C2.886247336864472%2C42.69666193219416&amp;layer=mapnik&amp;marker=42.695884249268495%2C2.8846125304698944" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=42.69588&amp;mlon=2.88461#map=19/42.69588/2.88461">Afficher une carte plus grande</a></small></p>
  <h2>Jeudi 23 Mai protocole et accès</h2>
  <p> 9h00 - 10h30 - RFC 0008 et RFC0007 par @vit :
    La RFC 0008 sur le chiffrement/signature de messages avec les clefs Duniter (15mn).
    La RFC 0007 sur les Ascii Armor Messages Duniter (15mn).</p>
  <p> 10h30 - 12h30 Développements en Python par @vit :
  <ul>
    <li>Duniterpy : toutes les nouveautés dont les Ascii Armor Messages (30mn).</li>
    <li>La procédure de certifications sécurisée qui a justifié le développement des Ascii Armor Messages (45mn).</li>
    <li>Une démo du prototype de client GraphQL de la future version duniterpy 0.60.0 (15mn).</li>
  </ul>
  </p>
  <p>14h00 - 16h00, Blockchain direct avec Duniter Dice par @Looarn</p>
  <p>Le mécanisme de retrouver les info sur la blockchain directement plutot que de maintenir une BDD, devrait en intéresser certain.<br>
    Présentation DuniterDice :</p>
  <ul>
    <li>Présentation du fonctionnement</li>
    <li>Sécurisation du casino (coté serveur)</li>
    <li>Client indépendant (lecture de la blockchain à la volée)</li>
    <li>La gestion des forks</li>
  </ul>
  </p>
  <p> 16h00 - 18h00 : Présentation fonctionnelle d’un serveur blockchain minimal</p>
  <p>Présentation fonctionnelle de ce que doit faire un serveur blockchain minimal respectant les protocoles blockchain (DUBP) et réseau (DUNP) de la Ğ1. Description métier de ce que “fait” un serveur. Explication des notions de documents, synchronisation, piscines, indexs, forks, etc.</p>
  <p>Ne nécessite pas de compétence en programmation pour y assister, présentation toutefois fortement recommandée a tout développeur qui souhaiterai contribuer a l’un des serveur blockchain : Duniter, Durs ou Juniter.</p>
  </p>
  <h2>Vendredi 24 Mai 100% code Duniter, 9h00 - 23h00</h2>
  Il n’y aura rien de trop d’une journée entière dédiée au code de Duniter en mode conférence, dans les grandes lignes cgeek traitera de :
  <ul>
    <li>l’architecture</li>
    <li>les outils</li>
    <li>les tests</li>
    <li>le cycle de vie d’exécution</li>
    <li>les livraisons</li>
    <li>les modules, avec un focus sur Duniter UI v2</li>
    <li>la surveillance du réseau Ğ1 (et Ğ1-Test) et de son écosystème</li>
    <li>le diagnostic</li>
  </ul>
  <h2>Samedi 25 Mai 100% code DURS</h2>
  <p> 9h00 - 12h00 Conférence : Présentation détaillée du projet Durs</p>
  <p>Présentation détaillée du projet de ré-implémentation de Duniter en Rust nommé DURS (Dividende Universel RuSt). Pourquoi Durs ? Historique du projet, travail accompli depuis les RML12, roadmap pour les 6 prochains mois, architecture du projet, présentation du process de contribution, etc.</p>
  <p>14h00 - 18h00 Atelier : Contribuer a Durs 4h</p>
  <p>Installation de l’environnement de dev, initiation au Rust (ou approfondissement selon niveau). Live coding sur un ticket facile. Exercice sur l’explorateur de base de donnée : extraire des données intéressantes des index ou de la blockchain : exemple : nombre de blocs forgés par chaque clé.
  </p>
  <h2>Dimanche 26 Mai : rencontres libres</h2>
  Cette journée est réservée pour approndir les thèmes vus les jours précédents
  <ul>
    <li>Coding party Duniter, DURS, Juniter</li>
    <li>Coding party Silkaj</li>
    <li>Place possible pour ateliers informatiques supplémentaires (libre)</li>
  </ul>


  <h3>Autres contenus</h3>
  <p>Au delà des rencontres informatiques ces RML seront bien entendu ouvertes à des animations autres, pour tout co-organisateur local qui voudra bien se déclarer sur <a href="https://forum.duniter.org/t/les-rml13-coeur-de-g1-a-perpignan/5365">le forum duniter</a></p>
  <p>Il sera ainsi possible d'organiser un ou plusieurs Ğeconomicus, ceux qui veulent se former y trouvant là une excellente occasion</p>
  <p>Des enchères en continu seront proposées tous les soirs des 23, 24 et 25 Mai, les commissaires priseurs volontaires peuvent se déclarer de la même façon</p>
  <p>D'autres thèmes ou sujets peuvent être proposés par des co-organisateurs locaux ou distants qui pourront être intégrés au programme en cours d'élaboration</p>
  <p>Vous pouvez contribuer à l'organisation <a href="https://mensuel.framapad.org/p/lKDTJNcLEc">via ce PAD</a></p>
  <h3>Comment venir à Perpignan !?</h3>
  <p>Il est facile de venir à Perpignan, directement ou via Toulouse, Montpellier ou Barcelone (chacune étant à 1h30 de Perpignan en voiture / train).</p>
  <p>* Par avion (vols depuis Nantes, Paris, Lille, Bruxelles...), vérifiez <a href="https://www.skyscanner.fr/">via votre aéroport préféré</a>.</p>
  <p>* Par train (gare TGV)</p>
  <p>* En covoiturage. <a href="https://www.mobicoop.fr/evenements/covoiturages/rml13">Passager potentiel ou conducteur, indiquez les trajets que vous souhaitez effectuer</a>, vous ferrez des heureux.</p>
  <h3>PAD ouvert sur l'organisation</h3>
  <p>Vous pouvez contribuer à l'organisation <a href="https://mensuel.framapad.org/p/lKDTJNcLEc">via ce PAD</a></p>

  <h3>Hébergement</h3>
  <p>Facilitez vous l'hébergement, proposez, demandez, abonnez-vous au notification par email au besoin : <a href="https://pad.tetaneutral.net/p/RML13-hebergement">PAD hébergement</a> </p>
  <h3>Restauration</h3>
  <p>Nous n'avons personne de près à mettre le temps et l'énergie nécessaire pour vous proposer des repas prêts à consomer.</p>
  <p>Apportez vos casse-croûte ou de quoi vous en procurer dans les environ.</p>
  <p>Si vous voulez proposer mieux (faciliter des repas en mode auberge espagnole par exemple) <a href="https://pad.tetaneutral.net/p/RML13-miam">ce pad est fait pour vous</a> !</p>

</article>
