<div id="decouvrir">
    <img src="img/words_cloud.jpg" alt="" class="onlyPrint" style="height: 15cm; display: block;margin: auto"/>
    <h2>Une monnaie libre, qu'est-ce que c'est ?</h2>
    <div class="flexArea">
        <div>
            <h3>Une monnaie qui permet :</h3>
            <ul>
                <li><a href="#symetrie_DU" class="subPageLink"><span class="picto"><img src="img/picto/symetry.svg" alt="⚖"/></span> <span class="title">D'être égaux face à la création monétaire
                    <span>(chacun sa part, même les générations futures)</span></span></a>
                    <section id="symetrie_DU" class="subPage">{build:symetrie_DU}</section>
                </li>
                <li><a href="#adoption_citoyenne" class="subPageLink"><span class="picto"><img src="img/picto/bottom_up.svg" alt="👊"/></span><!--⟲↻🔄↺♲🐦-->
                    <span class="title">D'en faire usage sans décision d'élu préalable</span></a>
                    <section id="adoption_citoyenne" class="subPage">{build:adoption_citoyenne}</section>
                </li>
                <li><a href="#page_libre" class="subPageLink"><span class="picto"><img src="img/picto/libre.svg" alt="🔍"/></span><!--👁-->
                    <span class="title">D'en vérifier soi-même le bon fonctionnement</span></a>
                    <section id="page_libre" class="subPage">{build:page_libre}</section>
                </li>
            </ul>
        </div><div>
            <h3>Comment est-ce possible ?</h3>
            <ul>
                <li><a href="#page_theorie" class="subPageLink"><span class="picto"><img src="img/picto/theory.svg" alt="💡"/></span> <span class="title">Fondements théoriques</span></a>
                <section id="page_theorie" class="subPage">{build:page_theorie}</section>
                </li>
                <li><a href="#page_technique" class="subPageLink"><span class="picto"><img src="img/picto/technic.svg" alt="⚙"/></span> <span class="title">Choix techniques actuels</span></a>
                    <section id="page_technique" class="subPage">{build:page_technique}</section>
                </li>
            </ul>
        </div><div>
            <h3>Pourquoi est-ce une bonne idée ?</h3>
            <ul>
                <li><a href="#transition_ecologique_sociale" class="subPageLink"><span class="picto"><img src="img/picto/green.svg" alt="🌲"/></span> <span class="title">Accompagner la transition écologique et sociale</span></a>
                    <section id="transition_ecologique_sociale" class="subPage">{build:transition_ecologique_sociale}</section>
                </li>
                <li><a href="#faciliter_echanges" class="subPageLink"><span class="picto"><img src="img/picto/fluid.svg" alt="🔁"/></span> <span class="title">Faciliter les échanges entre êtres humains</span></a>
                    <section id="faciliter_echanges" class="subPage">{build:faciliter_echanges}</section>
                </li>
                <li><a href="#stop_inegalites_systemiques" class="subPageLink"> <span class="picto"><img src="img/picto/systemic.svg" alt="👫"/></span><!--👬👫👭--> <span class="title">Éviter les inégalités monétaires systémiques</span></a>
                    <section id="stop_inegalites_systemiques" class="subPage">{build:stop_inegalites_systemiques}</section>
                </li>
                <li> <a href="#stop_crise" class="subPageLink"> <span class="picto"><img src="img/picto/crisis.svg" alt="💸"/></span> <span class="title">Éviter les crises monétaires</span></a>
                    <section id="stop_crise" class="subPage">{build:stop_crise}</section>
                </li>
                <li><a href="#money_systems_comparison" class="subPageLink strong"><span class="picto"><img src="img/picto/compare.svg" alt="⚙"/></span> <span class="title">Tableau comparatif entre systèmes monétaires</span></a>
                    <section id="money_systems_comparison" class="subPage large">{build:money_systems_comparison}</section>
                </li>
            </ul>
        </div>
    </div>
</div>
