<div id="legals" typeof="ContactPage">
  <h3>Mentions légales</h3>

  <h4>Responsable éditorial et hébergement web</h4>
  <address property="publisher" typeof="Person">
    <span property="name"><span property="givenName">Millicent</span> <span property="familyName">Billette</span></span> - <span property="brand"><a href="https://1forma-tic.fr" property="url">1forma-tic.fr</a></span>
    <br/><span property="address" typeof="PostalAddress"><span property="streetAddress">26 Ter, rue André Lapelleterie</span>, <span property="postalCode">33130</span>, <span property="addressLocality">Bègles</span></span>
    <br/><a href="tel:0033770772770" property="telephone">+33&nbsp;(0)&nbsp;770&nbsp;772&nbsp;770</a>
    <br/><a href="mailto:contact@1forma-tic.fr?subject=%5BRML12%20legals%5D" property="email">contact@1forma-tic.fr</a>
    <br/>SIRET : <a
    href="https://www.infogreffe.fr/entreprise-societe/520193897-billette-de-villemeur-millicent-52019389700037.html">520&nbsp;193&nbsp;897&nbsp;00037</a>
  </address>
  <h4>Crédits et licences</h4>
  <p>
    Le <a href="https://git.duniter.org/rml12/rml12.duniter.io">code source</a> du site est sous licence <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr">CC-0</a>.
  </p>
  <p>
    Les contenus, textes, photos, vidéos... sont la propriété de leurs auteurs.
  </p>
  <p>
    Sauf mention contraire de leur part, leur autorisation est nécessaire avant toute réutilisation.
  </p>
</div>
