<section id="programme">
  <input type="hidden" class="ogTitle" value="Intéressés par les alternatives ? Découvrez la monnaie libre !"/>
  <article>
    <h2>Programme évolutif</h2>
    <p>
      Il n'est jamais trop tard pour <a href="https://pad.tetaneutral.net/p/RML13-atelier-conf-programme" rel="noreferrer" target="_blank">proposer un atelier, une conférence ...</a>.
    </p><p>
    Vous pouvez <a href="webcal://rml13.creationmonetaire.info/rml.ics">synchroniser le programme des RML13 avec votre agenda</a> pour que ses mises à jours soient inclues automatiquement,
    le <a href="//rml13.creationmonetaire.info/rml.ics" download="RML.ics">télécharger en l'état actuel</a>, ou le consulter en ligne ci-dessous.
  </p>
    {build:__programme}
  </article>
</section>
